body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

nav{
    padding: 20px;
    background-color: rgb(65, 65, 65);
    display: flex;
    justify-content: center;
}

nav a{
    color: white;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

header{
    text-align: center;
    margin: 20px;
}

#background-img{
    background-image: url(../../assets/img/isola.jpeg);
    padding: 100px;
    background-position: center;
    background-size: cover;
}

hgroup{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

section{
    margin: 20px;
}

section a{
    color: rgb(0, 162, 255);
}

article{
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

article img{
    border-radius: 5px;
}

table{
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

thead{
    background-color: rgb(0, 162, 255);
    color: white;
    text-align: left;
}

td, th{
    padding: 10px;
    border: 1px solid lightgray;
}

#link{
    margin: 50px 0;
    text-align: center;
    line-height: 30px;
}

#contatti{
    background-color: rgb(226, 226, 226);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

#contatti a{
    color: rgb(41, 41, 41);
}

footer{
    background-color: rgb(43, 43, 43);
    color: white;
    padding: 20px;
    text-align: center;
}




